body {
  padding: 3rem;
  margin: 0 auto !important;
  display: table;
  width: 50vw;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
